[submodule "roles/validation_prereq"]
	path = roles/validation_prereq
	url = https://github.com/pfcurtis/ansible-mapr_validation_prereqs.git
[submodule "roles/validation"]
	path = roles/validation
	url = https://github.com/pfcurtis/ansible-mapr_validation.git
